<div class="container">
  <h1>Crear cuenta</h1><br>
  <div class="row">
    <div class="col-md-6 col-centered">
      <%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

        <div class="field">
          <%= f.text_field :nombre, autofocus: true, required: true %>
        </div>

        <div class="field">
          <%= f.text_field :actividad, autofocus: true, required: true %>
        </div>

        <div class="field">
          <%= f.text_area :descripcion, autofocus: true, required: true, label: "Descripción", rows: "9" %>
        </div>

        <div class="field">
          <%= f.text_field :nit, autofocus: true, required: true %>
        </div>

    </div>
    <div class="col-md-6 col-centered">

        <div class="field">
          <%= f.select(:ciudad, ["Pereira","Armenia","Manizales"], required: true) %>
        </div>

        <div class="field">
          <%= f.text_field :direccion, autofocus: true, required: true, label: "Dirección" %>
        </div>

        <div class="field">
          <%= f.text_field :telefonos, autofocus: true, required: true, label: "Teléfonos" %>
        </div>

        <div class="field">
          <%= f.email_field :email, autofocus: true, label:"Correo electrónico" %>
        </div>

        <div class="field">
          <% if @minimum_password_length %>
          <!--em>(<%= @minimum_password_length %> caracteres mínimo)</em-->
          <% end %>
          <%= f.password_field :password, autocomplete: "off", label: "Contraseña (#{@minimum_password_length} caracteres mínimo)" %>
        </div>

        <div class="field">
          <%= f.password_field :password_confirmation, autocomplete: "off", label: "Confirmación de contraseña" %>
        </div>
    </div>
  </div>
  <br>
  <div class="row" align="center">
    <%= f.submit "Guardar", :class => "btn btn-lg btn-primary" %> 
    <% end %>
    <br><br>
    <%= render "devise/shared/links" %>
  </div>
</div>
