<!--p id="notice"><%= notice %></p-->

<div class="container">
  <h1>Proveedores</h1>
  <hr>
  <div class="table-responsive table-bordered">
    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Buscar por nombre..">
    <span class="glyphicon glyphicon-search"></span>
    <br>
    <table id="myTable" class="table table-hover table-bordered">
      <thead>
        <tr class="header">
          <th>Nombre</th>
          <th>Actividad</th>
          <th>Ciudad</th>
          <th>Dirección</th>
          <th colspan="2"></th>
        </tr>
      </thead>
      <tbody>
        <% @providers.each do |provider| %>
        <tr>
          <td><%= provider.nombre %></td>
          <td><%= provider.actividad %></td>
          <td><%= provider.ciudad %></td>
          <td><%= provider.direccion %></td>
        <% if user_signed_in? and current_user != provider %>
          <td><%= button_to 'Ver', show_provider_path(provider.id), :class => 'btn btn-xs btn-warning'%></td>
          <% if @user_providers.include? provider %>
          <td>En mi lista</td>
          <%else%>
          <td><%= button_to 'Añadir a mi lista', select_provider_path(provider.id), :class => 'btn btn-xs btn-success'%></td>
          <%end%>
        </tr>
        <%end%>
      <% end %>
      </tbody>
    </table>
  </div>
</div>

<script>
function myFunction() {
  // Declare variables 
  var input, filter, table, tr, td, i;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    } 
  }
}
</script>