<div class="container">
  <h1 align="center">Iniciar sesión</h1><br>
  <div class="row">
    <div class="col-md-4 col-sm-offset-4">
      <%= bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.email_field :email, autofocus: true, label:"Correo electrónico" %>
        </div>

        <div class="field">
          <%= f.password_field :password, autocomplete: "off", label: "Contraseña (6 caracteres mínimo)" %>
        </div>

        <% if devise_mapping.rememberable? -%>
          <div class="field">
            <%= f.check_box :remember_me, label: "Recuerdame" %>
          </div>
        <% end -%>
        <br>
        <div class="actions">
          <%= f.submit "Iniciar sesión", :class => "btn btn-lg btn-primary btn-block" %>
        </div>
      <% end %>
      <br>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
